
body { 
    padding-top: 55px; 
}

.carousel .carousel-item > *:first-child {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
}

.card {
    border-color: orange;
}

.card-title {
    font-size: 1rem;
    padding: 5px;
}

.card .card-img-top {
    border-radius: 1.5%;
}

#resultsTable {
    display: block;
    margin: 1px;
    max-height: 400px;
}

#btnDisplayResults {
    margin-top: 15px;
}

#dataTable {
    display: none;
}

.table-padding {
    padding: 1px;
}

.thead {
    display: block;
    font-size: 0.8em;
    background-color: lightgrey;
}

table  tbody{
  display:block;
  height:200px;
  overflow:auto;
}

tr {
    font-size: 0.8em;
}

@media (min-width: 1281px) {
    .carousel .carousel-item {
        height: 28em; 
    }
    main {
    padding-top: 2em;
    }
    .max-height-text {
        max-height: 325px;
        overflow: auto;
        /* border: 1px solid grey; */
    }
}

@media (max-width: 1280px) {
    .carousel .carousel-item {
        height: 22em; 
    }
    main {
    padding-top: 2em;
    }
    .max-height-text {
        max-height: 300px;
        overflow: auto;
        /* border: 1px solid grey; */
    }
}

@media (max-width: 1024px) {
    .carousel .carousel-item {
        height: 16em; 
    }
    main {
    padding-top: 1.5em;
    }
    .max-height-text {
        max-height: 285px;
        overflow: auto;
        /* border: 1px solid grey; */
    }
    /* #btnDisplayResults {
        margin-left: 50px;
    } */
}

@media (max-width: 768px) {
    .carousel .carousel-item {
        height: 10em; 
    }
    main {
    padding-top: 1em;
    }
    .max-height-text {
        max-height: 265px;
        overflow: auto;
        /*border: 1px solid grey; */
    }
}

.featurette-divider {
  margin: 80px 0; /* <hr> between each */
}
 .featurette {
  padding-top: 120px;
  overflow: hidden; /* Clear floats */
}
 .featurette-image {
  margin-top: −120px; /* Vertically center image with the text */
}
 .featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
 .featurette-image.pull-left {
  margin-right: 40px;
}
 .featurette-image.pull-right {
  margin-left: 40px;
}
