
body { 
    padding-top: 55px; 
}

.carousel .carousel-item > *:first-child {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
}

@media (min-width: 1281px) {
    .carousel .carousel-item {
        height: 28em; 
    }
    main {
    padding-top: 2em;
    }
}

@media (max-width: 1280px) {
    .carousel .carousel-item {
        height: 22em; 
    }
    main {
    padding-top: 2em;
    }
}

@media (max-width: 1024px) {
    .carousel .carousel-item {
        height: 16em; 
    }
    main {
    padding-top: 1.5em;
    }
}

@media (max-width: 768px) {
    .carousel .carousel-item {
        height: 10em; 
    }
    main {
    padding-top: 1em;
    }
}

.featurette-divider {
  margin: 80px 0; /* <hr> between each */
}
 .featurette {
  padding-top: 120px;
  overflow: hidden; /* Clear floats */
}
 .featurette-image {
  margin-top: −120px; /* Vertically center image with the text */
}
 .featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
 .featurette-image.pull-left {
  margin-right: 40px;
}
 .featurette-image.pull-right {
  margin-left: 40px;
}
