
body { 
    padding-top: 55px; 
    /* background-color: rgb(44, 42, 42); */
    font-family: "Open Sans", sans-serif;
    background: repeating-linear-gradient(
    45deg,
    #272727,
    #363636 500px,
    #444444 500px,
    #444444 1000px);
}

nav {
    background-color: #272727;
}

a {
    color: rgb(285,180,0);
}

a:hover {
    color: rgb(225, 125, 0);
}

.carousel .carousel-item > *:first-child {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
}

.card {
    border-color: orange;
    background-color: rgb(70, 70, 70);
    color: rgb(220, 220, 220);
    padding-right: 1px;
    font-weight: 100;
    line-height: 1.1rem;
    /* letter-spacing: -1px; */
}

.card-title {
    color: rgb(220, 220, 220);
    font-size: 1.5rem;
    padding: 5px;
}

.card .card-img-top {
    border-radius: 1.5%;
}

#resultsTable {
    display: block;
    margin: 1px;
    max-height: 375px;
}

#btnDisplayResults {
    margin-top: 15px;
}

#dataTable {
    display: none;
}

.table-padding {
    padding: 1px;
    padding-right: 2px;
}

.thead {
    position: -webkit-sticky; 
    position: sticky; 
    top: 0; 
    z-index: 2;
    display: block;
    font-size: 0.8em;
    background-color: grey;
    color: white;
}

table  tbody {
  table-layout: fixed;
  display: block;
  background-color: lightgray;
  overflow-y: auto;
}

tr {
    font-size: 0.8em;
    height: 42px;
}

td {
    min-width: 100px;
    max-width: 100px;
}

th {
    min-width: 100px;
    max-width: 100px;
}


#statisticsheader {
    margin-top: 0px; /* <hr> between each */
}

 .featurette {
  padding-top: 120px;
  overflow: hidden; /* Clear floats */
}

 .featurette-image {
  margin-top: −120px; /* Vertically center image with the text */
}

.chart-title {
    color: rgb(220, 220, 220);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.chart-options {
    color: white;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1;
   
}

 .featurette-image.pull-left {
  margin-right: 40px;
}

 .featurette-image.pull-right {
  margin-left: 40px;
}

@media (min-width: 1281px) {
    .carousel .carousel-item {
        height: 28em; 
    }
    main {
    padding-top: 2em;
    }
    .max-height-text {
        max-height: 325px;
        overflow: auto;
        /* border: 1px solid grey; */
    }
}

@media (max-width: 1280px) {
    .carousel .carousel-item {
        height: 22em; 
    }
    main {
    padding-top: 2em;
    }
    .max-height-text {
        max-height: 300px;
        overflow: auto;
        /* border: 1px solid grey; */
    }
}

@media (max-width: 1024px) {
    .carousel .carousel-item {
        height: 16em; 
    }
    main {
    padding-top: 1.5em;
    }
    .max-height-text {
        max-height: 285px;
        overflow: auto;
        /* border: 1px solid grey; */
    }
}

@media (max-width: 768px) {
    .carousel .carousel-item {
        height: 10em; 
    }
    main {
    padding-top: 1em;
    }
    .max-height-text {
        max-height: 265px;
        overflow: auto;
        /*border: 1px solid grey; */
    }
    /* #btnDisplayResults {
        margin-inline-start: 5px;    
    } */
}
